/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Filtro */
.filter {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.filter select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Produtos */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product h3 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: normal;
}

.old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
}

.new-price, .price {
    font-size: 18px;
    color: #000;
    font-weight: bold;
}

.discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff6666;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 20px;
}

/* Paginação */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.pagination a.active {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}

.pagination a:hover {
    background-color: #ddd;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 80px;
    background-color: #f1f1f1;
}

footer .footer-links a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
}

footer .social-icons img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}
.home{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    color: #000;
}