*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slide-container{
    width: auto;
    height: 80vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.image-container{
    width:420vw;
    height: 80vh;
    display: flex;
    animation:slideAnimation 18s infinite ease-in-out;
    animation-play-state: running;
}
.slider-image{
    width: auto;
    height: 80vh;
    object-fit: cover;
}
.button-container{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.slider-button{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 10s ease;
}
.slider-button:hover{
    background-color: #888;
}
.slider-button:hover ~ .image-container{
    animation-play-state: paused;
}
.image-container:hover{
    animation-play-state: running;
}
#slider-image1:target ~.image-container{
    animation: none;
    transform: translateX(0);
}
#slider-image2:target ~.image-container{
    animation: none;
    transform: translateX(-100vw);
}
#slider-image3:target ~.image-container{
    animation: none;
    transform: translateX(0vw);
}

@keyframes slideAnimation{
    0% {transform: translateX(0);}
    33.33%{transform: translateX(-102vw);}
    100%{transform: translateX(-180vw);}
}

@media(width<500){
    .slide-container{
        width: auto;
        height: 40vh;
        margin: 0;
        overflow: hidden;
        position: relative;
    }
    .image-container{
        width:420vw;
        height: 40vh;
        display: flex;
        animation:slideAnimation 18s infinite ease-in-out;
        animation-play-state: running;
    }
    .slider-image{
        width: auto;
        height: 40vh;
        object-fit: cover;
    }
}